<%= simple_form_for [offer, booking] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs d-flex flex-row">
    <%= f.input :start_date, as: :string, class:"start_date", input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date, as: :string, class:"end_date",input_html: { data: { controller: "datepicker" } } %>
    <div class="form-action border border-dark">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
