<div class="row justify-content-center">
  <% @offers.each do |offer| %>
    <%= link_to offer, class: 'col-6 col-md-4 mb-4 text-decoration-none' do %>
      <div class="card h-100 mx-2 rounded card-index">
        <%= image_tag "#{offer.image}", class: 'card-img-top object-fit-cover img-fluid' %>
        <div class="card-index-infos">
          <h5 class="mb-0"><%= offer.title.truncate(25) %></h5>
          <p class="grey mt-0"><%= offer.location.truncate(30) %></p>
          <p class="text-end"><%= offer.price %> 🌿 per night</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
