<div class="row justify-content-center">
  <% @offers.each do |offer| %>
    <%= link_to offer, class: 'col-6 col-md-4 mb-4 text-decoration-none' do %>
      <div class="card h-100 mx-2 rounded card-index">
        <% if offer.image.blank? %>
          <%= image_tag offer.photo, class: "card-img-top object-fit-cover img-fluid" %>
        <% else offer.photo.blank? %>
          <%= image_tag "#{offer.image}", class: 'card-img-top object-fit-cover img-fluid' %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title mb-0"><%= offer.title.truncate(25) %></h5>
          <p class="card-text grey mt-0"><%= offer.location %></p>
          <p class="card-text text-end"><%= offer.price %> 🌿 per night</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
