<div class="row justify-content-center">
  <% @offers.each do |offer| %>
    <%= link_to offer, class: 'col-6 col-md-4 mb-4 text-decoration-none' do %>
      <div class="card h-100 mx-2 rounded card-index">
        <%= image_tag "bernard.png", class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title"><%= offer.title %></h5>
          <p class="card-text grey"><%= offer.location %></p>
          <p class="card-text"><%= offer.price %> 🌿 per night</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>



