
<div class="row">
  <%# en tant que proprio %>
  <h2 class="main-title my-4">Clients booking requests</h2>
  <% count = 0 %>
  <% @my_bookings.each do |my_booking| %>
    <% if my_booking.offer.user_id == current_user.id %>
      <% count += 1 %>
    <% end %>
  <% end %>
  <% if count > 0 %>
    <% @my_bookings.each do |my_booking| %>
      <% if my_booking.offer.user_id == current_user.id %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card-dashboard">
            <div class="picture">
              <%= image_tag "#{my_offer.image}", class: 'object-fit-cover img-fluid' %>
            </div>
            <div class="card-dashboard-infos">
              <h2 class="text-truncate p-2"><%= my_booking.offer.title.truncate(21) %></h2>
              <p><strong><%= my_booking.total_price %></strong> 🌿</p>
              <p>From <%= my_booking.start_date %> to <%= my_booking.end_date %></p>
              <% if my_booking.accepted %>
                <button class="btn btn-success" disabled="true">✔️ Accepted</button>
              <% elsif my_booking.accepted == false %>
                <button class="btn btn-danger" disabled="true">✖️ Declined</button>
              <% else my_booking.accepted = nil %>
                <%= link_to "Accept", booking_path(my_booking, accepted: true), data: { turbo_method: :patch }, class:"btn btn-success" %>
                <%= link_to "Decline", booking_path(my_booking, accepted: false), data: { turbo_method: :patch }, class:"btn btn-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No request</p>
  <% end %>
  <%# en tant que client %>
  <% @my_bookings.each do |my_booking| %>
    <% if my_booking.offer.user_id != current_user.id %>
      <% count += 1 %>
    <% end %>
  <% end %>
  <% if count > 0 %>
    <h2 class="main-title my-4">My travel requests</h2>
    <% @my_bookings.each do |my_booking| %>
      <% if my_booking.offer.user_id != current_user.id %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card-dashboard">
            <div class="picture">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
            </div>
            <div class="card-dashboard-infos">
              <h2 class="text-truncate p-2"><%= my_booking.offer.title.truncate(21) %></h2>
              <p><strong><%= my_booking.total_price %></strong> 🌿</p>
              <p>From <%= my_booking.start_date %> to <%= my_booking.end_date %></p>
              <% if my_booking.accepted %>
                <p>Accepted</p>
              <% elsif my_booking.accepted == false %>
                <p>Declined</p>
              <% else my_booking.accepted = nil %>
                <p>Pending</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No booking</p>
  <% end %>
</div>
