<div class="row">
  <div class="d-flex justify-content-between">
    <h2 class="main-title my-4">My Bernard offers</h2>
    <%= link_to "Create an offer", new_offer_path, class:"btn-card-offer text-decoration-none" %>
  </div>
</div>

<div class="row">
  <% @my_offers.each do |my_offer| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-dashboard">
        <div class="picture">
          <% if my_offer.image.blank? %>
            <%= image_tag my_offer.photo, class: "card-img-top object-fit-cover img-fluid" %>
          <% else my_offer.photo.blank? %>
            <%= image_tag "#{my_offer.image}", class: 'card-img-top object-fit-cover img-fluid' %>
          <% end %>        </div>
        <div class="card-dashboard-infos">
          <h3><%= my_offer.title.truncate(21) %></h3>
          <p class="price"><%= my_offer.price %> 🌿 per night</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
